@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body, h1, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: white;
}

body {
    background-image: url("./assets/BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    font-family: 'Outfit', sans-serif; 
    background-color: #222;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 166px 0 200px;
    height: 80px; /* Adjust the height as needed */
}

.logo h1 {
    font-size: 44px;
    font-weight: bold;
}

.navigation ul {
    display: flex;
    gap: 20px;
}

.navigation ul li a {
    font-size: 44px;
    font-weight: normal;
    transition: color 0.3s ease;
}

.navigation ul li a:hover {
    color: #0CC6B3; /* Hover color */
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img {
    width: 40px; /* Adjust the size as needed */
    height: 40px;
}

.profile .username {
    font-size: 32px;
    font-weight: normal;
}